.block_popularity {
    display: flex;
    gap: 20px;


    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 50px;
    margin-top: 100px;
    border: 1px solid white;
    border-radius: 25px;

}



.block_popularity h1:first-child {
    color: white;
    position: absolute;
    top: -20px;
    left: 0;
}