.block {
    max-width: 250px !important;
    border-radius: 15px;
    background-color: white;
    height: 400px;
    padding: 0;
    text-align: left;
    background-color: rgb(26, 26, 26);
    padding: 20px;
    transition: 0.3s ease-in-out;
    background-color: #24211e;
    position:
        relative;
    z-index: 10000;
    min-width: 230px !important;


}

.baner {
    position: absolute;
    top: -20px;


    left: 5px;
}

.author_block {

    color: gray
}

.name_block {

    color: white;
}

.price_block {

    color: white;
}



.background_img {
    width: 100%;
    height: 220px;
    border: 1px solid white;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;




}


.background_img img {
    width: 220px;
    height: 180px;
    border-radius: 5px;
    border: 3px solid white;
    transition: 0.3s ease-in-out;
    cursor: pointer;


}

.block:hover .background_img img {
    transform: scale(0.9);
}

.block:hover .background_img {
    transform: translateY(10px);
}

.block:hover {
    height: 420px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}