.block_popular {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 50px;
    border: 1px solid red;
    border-radius: 25px;
    margin-top: 20px;

    position: relative;
}

.block_popular>h1 {
    color: white;
    top: 0;
    left: 50px;


    position: absolute;
}


.swiperPage {
    border: 1px solid white;
    padding: 20px !important;
    margin-top: 40px;
}