.block_popular {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 50px;
    margin-top: 100px;
    border: 1px solid red;
    border-radius: 25px;



    position: relative;
}

.block_popular>h1 {
    color: white;
    top: 0;
    left: 0;

    position: absolute;
}

.swiperPage {
    border: 1px solid white;
    padding: 20px !important;
}

.slidePage {


    margin: 30px !important;
}