nav {
    width: 100%;


    align-items: center;

    display: flex;
    flex-direction: column;
    border: 0.5px solid gray;
    height: 240px;

}

.blue_polosa {
    width: 100%;
    background-color: rgb(32, 32, 194);
    margin: 0;


    height: 50px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.content_1,
.content_2,
.content_3 {

    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    color: white;

}

.content_1 a,
.content_2 p,
.content_3 a {
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-size: 1.1em;

}

.content_3 a:last-child {
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    height: 6px;
    margin-left: 30px;
}

header {
    width: 90%;
    display: flex;
    height: calc(100% - 50px);
}

.logo_input_block,
.login_block {
    width: 50%;
    position: relative;
    align-items: center;
    display: flex;



}

.href_buttons_types {
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 15px;
}

.logo_input_block .logo {
    border: 1px solid black;
    width: 150px;
    border-radius: 25px;

    height: 80px;
}

.logo_input_block label {
    width: 600px;
    background-color: rgb(235, 232, 232);
    margin-left: 40px;
    height: 55px;
    align-items: center;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;


}

.logo_input_block input {
    height: 100%;
    width: 65%;
    background-color: transparent;
    border-radius: 20px;
    outline: none;
    border: none;



    font-size: 1.1em;
}

.logo_input_block label select {
    width: 30%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    color: black;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
}

.palka {
    height: 70%;
    background-color: rgb(206, 204, 204);
    width: 1px;
}

.href_buttons_types a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;


}