nav {
    width: 100%;
    background-color: #151412;
    height: 70px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}



.logo {
    max-width: 200px;
    border: 1px solid gray;
    border-radius: 15px;
    height: 70%;
    width: 100%;
}

.searching_block {
    width: 60%;
    height: 80%;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.buttons_client {
    max-width: 200px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    height: 80%;
    gap: 20px;
    display: flex;
    align-items: center;


}

.buttons_client div {
    border: 1px solid white;
    border-radius: 50%;
    height: 80%;
    width: 80px;
    display: inline-block;


}

.button_catalog {
    max-width: 150px;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    height: 80%;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 1.1s;


}

.button_catalog:hover {
    transform: scale(1.1);
    transition: 1.1s;
}

.searching_block label {
    height: 70%;
}

.input_search {
    width: 600px;
    height: 100%;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    color: white;
    font-size: 1.1em;
    background-color: #24211e;
}



.button_change_theme {
    height: 80%;
    border-radius: 50%;
    max-width: 50px;
    outline: none;
    border: none;
    background-color: #24211e;




    width: 100%;
}