nav {
    width: 100%;
    background-color: #212020;
    height: 70px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 200px;
    border: 1px solid gray;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.searching_block {
    width: 60%;
    height: 80%;
    border: 1px solid gray;
    border-radius: 15px;


}

.buttons_client {
    max-width: 200px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    height: 80%;
    gap: 20px;
    display: flex;
    align-items: center;


}

.buttons_client div {
    border: 1px solid white;
    border-radius: 50%;
    height: 80%;
    width: 80px;
    display: inline-block;

}